################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exam_Assignment/.vs/Minigin/v15/Browse.VC.opendb
