################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Exam_Assignment/.vs/**
/Exam_Assignment/3rdParty/**
/Exam_Assignment/Data/**
/Exam_Assignment/DigDug/**
/Exam_Assignment/2DAE06_Programming4_05_Watteeuw_Zeno
/Exam_Assignment/Minigin/Win32/**
/Exam_Assignment/Minigin/x64/**
/Exam_Assignment/Win32/**
/Exam_Assignment/x64/**